.map {
  margin: 0 !important;
  /* min-width: 600px;
  min-height: 500px; */
  margin: 50px;
  height: 100vh;
  width: 100vw;
}

.ol-control {
  position: absolute;
  margin: 20px;
}

.ol-zoom-out {
  margin-left: 10px;
}

.ol-rotate {
  display: none;
}

.ol-attribution {
  display: none;
}

@media (max-width: 768px) {
  .ol-control {
    margin: 5px;
  }
}
